@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>This is the standard mvc area</h2>


    </div>
</div>
<div class="row">
    <div class="col-md-3">

        <p>
            <a href="~/members">Navigate to My members Area Spa</a>
        </p>
    </div>

</div>
